footer {
    margin-top: 2em;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer-title {
    padding: 0.5em;
    text-align: center;
    max-height:150px;
    margin: 0 auto;
}